In [1]:
import pandas as pd
import numpy as np

In [2]:
data_batting = pd.read_csv('data/odi_batting_data.csv')
data_batting = data_batting.drop(columns=['Unnamed: 0', 'Unnamed: 13', 'Inns'])
data_batting

,Player,Span,Mat,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,439,36,17908,200*,44.77,20772,86.21,48,94,19
1,KC Sangakkara (Asia/ICC/SL),2000-2015,386,39,13942,169,42.12,17618,79.13,25,90,15
2,RT Ponting (AUS/ICC),1995-2012,363,38,13470,164,42.49,16727,80.52,30,81,19
3,ST Jayasuriya (Asia/SL),1989-2011,429,15,12987,189,31.83,14252,91.12,27,64,33
4,DPMD Jayawardene (Asia/SL),1998-2015,430,36,12429,144,33.5,15719,79.06,19,75,27
...,...,...,...,...,...,...,...,...,...,...,...,...
2695,Randhir Singh (INDIA),1981-1983,2,-,-,-,-,-,-,-,-,-
2696,NLK Ratnayake (SL),1989-1990,2,-,-,-,-,-,-,-,-,-
2697,EB Ringera (KENYA),2011-2011,1,-,-,-,-,-,-,-,-,-
2698,Rizwan Ahmed (PAK),2008-2008,1,-,-,-,-,-,-,-,-,-
2699,Rokhan Barakzai (AFG),2015-2015,1,-,-,-,-,-,-,-,-,-

In [8]:
data_batting = data_batting.replace('-', '0.0')
data_batting['HS'] = data_batting['HS'].astype(str).replace('*', '')
data_batting.iloc[:, 2:6] = data_batting.iloc[:, 2:6].astype(float).astype(int)
data_batting['Ave'] = data_batting['Ave'].astype(float)
data_batting['SR'] = data_batting['SR'].astype(float)
data_batting['BF'] = data_batting['BF'].astype(float).astype(int)
data_batting.iloc[:, 9:] = data_batting.iloc[:, 9:].astype(float).astype(int)
data_batting.rename(columns = {'SR':'SR_Bat', 'Ave': 'Ave_Bat'}, inplace = True)
data_batting

,Player,Span,Mat,NO,Runs,HS,Ave_Bat,BF,SR_Bat,100,50,0
0,SR Tendulkar (INDIA),1989-2012,439,36,17908,200,44.77,20772,86.21,48,94,19
1,KC Sangakkara (Asia/ICC/SL),2000-2015,386,39,13942,169,42.12,17618,79.13,25,90,15
2,RT Ponting (AUS/ICC),1995-2012,363,38,13470,164,42.49,16727,80.52,30,81,19
3,ST Jayasuriya (Asia/SL),1989-2011,429,15,12987,189,31.83,14252,91.12,27,64,33
4,DPMD Jayawardene (Asia/SL),1998-2015,430,36,12429,144,33.50,15719,79.06,19,75,27
...,...,...,...,...,...,...,...,...,...,...,...,...
2695,Randhir Singh (INDIA),1981-1983,2,0,0,0,0.00,0,0.00,0,0,0
2696,NLK Ratnayake (SL),1989-1990,2,0,0,0,0.00,0,0.00,0,0,0
2697,EB Ringera (KENYA),2011-2011,1,0,0,0,0.00,0,0.00,0,0,0
2698,Rizwan Ahmed (PAK),2008-2008,1,0,0,0,0.00,0,0.00,0,0,0
2699,Rokhan Barakzai (AFG),2015-2015,1,0,0,0,0.00,0,0.00,0,0,0

In [9]:
data_bowling = pd.read_csv('data/odi_bowling_data.csv')
data_bowling = data_bowling.drop(columns=['Unnamed: 0', 'Unnamed: 13', 'Span', 'Mat', 'Inns', 'BBI'])
data_bowling

,Player,Balls,Runs,Wkts,Ave,Econ,SR,4,5
0,M Muralitharan (Asia/ICC/SL),18589,12186,529,23.03,3.93,35.1,15,10
1,Wasim Akram (PAK),18138,11772,500,23.54,3.89,36.2,17,6
2,Waqar Younis (PAK),12671,9888,416,23.76,4.68,30.4,14,13
3,WPUJC Vaas (Asia/SL),15513,10794,396,27.25,4.17,39.1,9,4
4,Shahid Afridi (Asia/ICC/PAK),17603,13589,392,34.66,4.63,44.9,4,9
...,...,...,...,...,...,...,...,...,...
2695,DS Weerakkody (SL),-,-,-,-,-,-,-,-
2696,DM Wellham (AUS),-,-,-,-,-,-,-,-
2697,AP Wells (ENG),-,-,-,-,-,-,-,-
2698,CM Wells (ENG),-,-,-,-,-,-,-,-
2699,MD Wettimuny (SL),-,-,-,-,-,-,-,-

In [10]:
data_bowling = data_bowling.replace('-', '0.0')
data_bowling.iloc[:, 1:4] = data_bowling.iloc[:, 1:4].astype(float).astype(int)
data_bowling.iloc[:, 4:7] = data_bowling.iloc[:, 4:7].astype(float)
data_bowling.iloc[:, 7:] = data_bowling.iloc[:, 7:].astype(float).astype(int)
data_bowling.rename(columns = {'SR':'SR_Bowl', 'Ave':'Ave_Bowl', 'Runs':'Runs_Given'}, inplace = True)
data_bowling

,Player,Balls,Runs_Given,Wkts,Ave_Bowl,Econ,SR_Bowl,4,5
0,M Muralitharan (Asia/ICC/SL),18589,12186,529,23.03,3.93,35.1,15,10
1,Wasim Akram (PAK),18138,11772,500,23.54,3.89,36.2,17,6
2,Waqar Younis (PAK),12671,9888,416,23.76,4.68,30.4,14,13
3,WPUJC Vaas (Asia/SL),15513,10794,396,27.25,4.17,39.1,9,4
4,Shahid Afridi (Asia/ICC/PAK),17603,13589,392,34.66,4.63,44.9,4,9
...,...,...,...,...,...,...,...,...,...
2695,DS Weerakkody (SL),0,0,0,0,0,0,0,0
2696,DM Wellham (AUS),0,0,0,0,0,0,0,0
2697,AP Wells (ENG),0,0,0,0,0,0,0,0
2698,CM Wells (ENG),0,0,0,0,0,0,0,0
2699,MD Wettimuny (SL),0,0,0,0,0,0,0,0

In [13]:
data_fielding = pd.read_csv('data/odi_fielding_data.csv')
data_fielding = data_fielding.drop(columns=['Unnamed: 0', 'MD', 'D/I', 'Unnamed: 11', 'Mat', 'Inns', 'Span'])
data_fielding

                           Player  Dis   Ct   St  Ct Wk  Ct Fi
0     KC Sangakkara (Asia/ICC/SL)  494  395   99    376     19
1          AC Gilchrist (AUS/ICC)  467  412   55    412      0
2           MS Dhoni (Asia/INDIA)  434  313  121    313      0
3             MV Boucher (Afr/SA)  417  395   22    394      1
4                 Moin Khan (PAK)  286  213   73    213      0
...                           ...  ...  ...  ...    ...    ...
2695                 RJ Webb (NZ)    0    0    0      0      0
2696           AP Weerakkody (SL)    0    0    0      0      0
2697             S Weerakoon (SL)    0    0    0      0      0
2698               AP Wells (ENG)    0    0    0      0      0
2699               CM Wells (ENG)    0    0    0      0      0

[2700 rows x 6 columns]

In [14]:
data_fielding.iloc[:, 1:] = data_fielding.iloc[:, 1:].astype(int)
data_fielding

                           Player  Dis   Ct   St  Ct Wk  Ct Fi
0     KC Sangakkara (Asia/ICC/SL)  494  395   99    376     19
1          AC Gilchrist (AUS/ICC)  467  412   55    412      0
2           MS Dhoni (Asia/INDIA)  434  313  121    313      0
3             MV Boucher (Afr/SA)  417  395   22    394      1
4                 Moin Khan (PAK)  286  213   73    213      0
...                           ...  ...  ...  ...    ...    ...
2695                 RJ Webb (NZ)    0    0    0      0      0
2696           AP Weerakkody (SL)    0    0    0      0      0
2697             S Weerakoon (SL)    0    0    0      0      0
2698               AP Wells (ENG)    0    0    0      0      0
2699               CM Wells (ENG)    0    0    0      0      0

[2700 rows x 6 columns]